<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.error_notification %>
  <div class="col-xs-6 col-xs-offset-3">
    <div class="form-inputs">
      <%= f.input :content %>
      <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5] %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
